@page "/upload"
@using CashFlowAnalyzer.Client.FinancialData
@using CashFlowAnalyzer.Client.Components
@attribute [Authorize]
@inject SpreadsheetReader SpreadsheetReader
@inject IFinancialDataService FinancialDataService

<PageTitle>Upload</PageTitle>

<h1>Upload</h1>

<Dropdown TItem="ICurrency"
          Id="currencySelect"
          Label="Select Currency"
          Placeholder="Select Default Currency"
          Items="Currencies.GetAllCurrencies()"
          SelectedValue="defaultCurrency"
          SelectedValueChanged="OnCurrencySelectionChanged" />

<Dropdown TItem="Bank?"
          Id="bankSelect"
          Label="Select Bank"
          Placeholder="Select Bank"
          Items="Enum.GetValues(typeof(Bank)).Cast<Bank?>()"
          SelectedValue="selectedBank"
          SelectedValueChanged="OnBankSelectionChanged"
          IsDisabled="isPreviewMode" />

<InputFile OnChange="HandleFileSelected" key="@(fileInputKey)" class="form-control" disabled="@((selectedBank is null) && (defaultCurrency is null))" />

@if (filteredFinancialRecords == null || filteredFinancialRecords.Count == 0)
{
    <p><em>Waiting for the file...</em></p>
}
else
{
    <p>Please, review the categories</p>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Recipient Name</th>
                <th>Value</th>
                <th>Transaction Currency</th>
                <th>Target Currency Value</th>
                <th>Category</th>
                <th>Sharing Mode</th>
                <th>Save</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in filteredFinancialRecords)
            {
                <tr>
                    <td>@record.ProcessingDate.ToShortDateString()</td>
                    <td>@record.Recipient.Name</td>
                    <td>@record.Value</td>
                    <td>@record.TransactionCurrency</td>
                    <td>@record.ConvertedValue.ToString("F2")</td>
                    <td>
                        <Dropdown TItem="CategoryType"
                            Placeholder="Select a Category"
                            CssClass="@(record.RequiresReview() ? "red-dropdown" : "")"
                            Items="Enum.GetValues(typeof(CategoryType)).Cast<CategoryType>()"
                            SelectedValue="record.Category.Type"
                            SelectedValueChanged="EventCallback.Factory.Create<CategoryType>(this, value => OnCategorySelectionChanged(record, value))"
                            IsDisabled="isPreviewMode" />
                    </td>
                    <td>
                        <Dropdown TItem="SharingMode"
                            Placeholder="Select a Sharing Mode"
                            CssClass="@(record.Category.RequiresReview() ? "red-dropdown" : "")"
                            Items="Enum.GetValues(typeof(SharingMode)).Cast<SharingMode>()"
                            SelectedValue="record.Category.Mode"
                            SelectedValueChanged="EventCallback.Factory.Create<SharingMode>(this, value => OnSharingModeSelectionChanged(record, value))"
                            IsDisabled="isPreviewMode" />
                    </td>
                    <td>
                        <input type="checkbox" checked="@(record.SuitableForSaving())" disabled />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (isPreviewMode)
    {
        <button @onclick="TogglePreviewMode" class="btn btn-secondary">Edit</button>
        <button @onclick="SaveData" class="btn btn-success">Save</button>
    }
    else
    {
        <button @onclick="TogglePreviewMode" class="btn btn-primary" disabled="@FinancialRecordsRequireReview()">Preview</button>
    }
}
@if (showSuccessMessage)
{
    <Alert Message="Records upload was successful." CssClass="alert-success" OnClose="@(() => { showSuccessMessage = false; })" />
}
@if (showErrorMessage)
{
    <Alert Message="Records upload failed." CssClass="alert-danger" OnClose="@(() => { showErrorMessage = false; })" />
}

@code {
    private bool isPreviewMode = false;
    private bool isFileLoaded = false;
    private bool showSuccessMessage = false;
    private bool showErrorMessage = false;
    private string fileInputKey = Guid.NewGuid().ToString();
    private string payer = "me"; // ToDo: ThisShouldBeManualInputFromEditableDropdown
    private ICurrency defaultCurrency = Currencies.GetDefaultCurrency();
    private FinancialRecordMapper mapper;
    private List<FinancialRecord> financialRecords;
    private List<FinancialRecord> filteredFinancialRecords;

    // TODo: spreadsheetRecords should be more abstract
    private List<CeskaSporitelnaRecord> spreadsheetRecords;
    private Bank? selectedBank;
    protected override async Task OnInitializedAsync()
    {
        financialRecords = new List<FinancialRecord>();
        filteredFinancialRecords = new List<FinancialRecord>();
    }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        using var stream = file.OpenReadStream();
        switch (selectedBank)
        {
            case Bank.CeskaSporitelna:
                spreadsheetRecords = await SpreadsheetReader.ReadCeskaSporitelnaSpreadsheetAsync(stream);
                break;
            default:
                throw new NotImplementedException();
        }   
        financialRecords = mapper.Map(spreadsheetRecords);
        filteredFinancialRecords = financialRecords;
    }

    private void OnCategorySelectionChanged(FinancialRecord record, CategoryType selectedCategoryType)
    {
        var category = Categories.GetAllCategories().FirstOrDefault(c => c.Type == selectedCategoryType);
        if (category != null)
        {
            record.Category = category;
            StateHasChanged();
        }
    }

    private void OnSharingModeSelectionChanged(FinancialRecord record, SharingMode selectedSharingMode)
    {
        record.Category.Mode = selectedSharingMode;
        StateHasChanged();
    }

    private void OnCurrencySelectionChanged(ICurrency? value)
    {
        if (value == null)
            return;

        defaultCurrency = value;
        mapper = new FinancialRecordMapper(defaultCurrency, payer);
        if (financialRecords != null)
        {
            financialRecords = mapper.MapCurrency(financialRecords);
        }
        if (filteredFinancialRecords != null)
        {
            filteredFinancialRecords = mapper.MapCurrency(filteredFinancialRecords);
        }
    }

    private void OnBankSelectionChanged(Bank? value) => selectedBank = value;

    private void TogglePreviewMode()
    {
        isPreviewMode = !isPreviewMode;
        if (isPreviewMode)
        {
            filteredFinancialRecords = filteredFinancialRecords.Where(record => record.SuitableForSaving()).ToList();
        }
        else
        {
            filteredFinancialRecords = financialRecords;
        }
    }

    private bool FinancialRecordsRequireReview() => filteredFinancialRecords.Any(record => record.RequiresReview() || record.Category.RequiresReview());

    private async Task SaveData()
    {
        try
        {
            await FinancialDataService.SaveFinancialRecordsAsync(filteredFinancialRecords);
            showSuccessMessage = true;
            CleanUploadView();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error saving data: {ex.Message}");
            showErrorMessage = true;
        }
    }

    private void CloseSuccessMessage()
    {
        showSuccessMessage = false;
    }

    private void CloseErrorMessage()
    {
        showErrorMessage = false;
    }

    private void CleanUploadView()
    {
        // issue: resetting InputFile field does not work neatly:
        // https://github.com/SteveSandersonMS/BlazorInputFile/issues/2
        fileInputKey = Guid.NewGuid().ToString();
        filteredFinancialRecords = new List<FinancialRecord>();
        financialRecords = new List<FinancialRecord>();
        selectedBank = null;
        defaultCurrency = null;
        isFileLoaded = false;
        TogglePreviewMode();
        StateHasChanged();
    }
}
